<html>

<head>
    <title>Saldada</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="assets/css/main.css">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body class="">

    <!-- Header -->
      <section id="header">
        <div class="inner">
          <!-- <span class="icon solid major fa-cloud"></span> -->
          <h1><strong>Saldada</strong></h1>
          <br>
          <h4>Embedded financial infrastructure for Latin America</h4>
          <p>Integrate your software with ERPs and commerce platforms with one simple API</p>
          <ul class="actions special">
            <li><a href="form" class="button scrolly">Get started</a></li>
            <!--  <a href="https://api.whatsapp.com/send?phone=7863016023" style="display: inline-block; padding:16px; border-radius: 8px; background-color: #25D366; color: #fff; text-decoration: none; font-family: sans-serif; font-size: 16px;">Contact us on WhatsApp</a> -->
          </ul>
        </div>
      </section>

    <!-- One -->
      <section id="one" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h3><strong>White label integrations to access SMB data</strong></h3>
              </header>
              <p>Saldada simplifies accessing your customer's business data via a universal API solution tailored to your business that provides fast, reliable and standardized information so that you can focus on your core business. </p>
            </div>
            <!--
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="assets/white-thin.jpg" alt=""></span>
            </div>
            -->
          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="main style2">
        <div class="container">
          <!-- <div class="col gtr-150">
            <div class="col-6 col-12-medium">
              <ul class="major-icons">
                <li><span class="icon solid style1 major fa-code"></span></li>
                <li><span class="icon solid style2 major fa-bolt"></span></li>
                <li><span class="icon solid style3 major fa-camera-retro"></span></li>
                <li><span class="icon solid style4 major fa-cog"></span></li>
                <li><span class="icon solid style5 major fa-desktop"></span></li>
                <li><span class="icon solid style6 major fa-calendar"></span></li>
              </ul>
            </div>
            -->
            <header class="major">
            <h3><strong>Unlimited use cases tailored to your business</strong></h3>
            </header>
          <div class="row">
            <div class="col-3 col-12-medium">
              <h4><strong>Financing</strong></h4>
                <p>Underwrite faster and monitor on-going credit risk easily</p>
            </div>
            <div class="col-3 col-12-medium">
              <h4><strong>Payments</strong></h4>
                <p>Get standardized and fast accounting data for reconciliation and fraud prevention </p>
            </div>
            <div class="col-3 col-12-medium">
              <h4><strong>Insurance</strong></h4>
                <p>Conduct faster and more accurate insurance underwriting</p>
            </div>
            <div class="col-3 col-12-medium">
              <h4><strong>Ecommerce</strong></h4>
                <p>Sell across more commerce and marketplace platforms with ease</p>
            </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Three -->
      <section id="three" class="main2 style2 special">
        <div class="container">
          <header class="major">
            <h3>Interested in learning about how we can help?</h3>
          </header>
          <p>Talk to one of our experts</p>
          <ul class="actions special">
            <li><a href="form" class="button wide primary">Get a demo</a></li>
            <!-- <li><a href="#" class="button wide">Learn More</a></li> -->
          </ul>
        </div>
      </section>

    <!-- Footer -->
      <section id="footer">
        <ul class="icons">
          <li><a href="https://www.linkedin.com/company/saldada/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <!-- <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li> -->
        </ul>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send?phone=+16172726730&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Saldada%20." class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
        <ul class="copyright">
          <li>© Saldada Inc.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </section>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>


</body></html>
