.navbar-lewagon {
  justify-content: space-between;
  background: #4C3575;
  line-height: .5em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-toggler {
  font-size: .75rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.nav-link {
  font-size: 12pt;
}
